@import url('https://unpkg.com/@catppuccin/palette/css/catppuccin.css');

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--ctp-latte-text);
        --bg-color: var(--ctp-latte-base);
        --bg-color-sec: var(--ctp-latte-mantle);
        --bg-color-ter: var(--ctp-latte-crust);

        --color-red: var(--ctp-latte-red);
        --color-green: var(--ctp-latte-green);
        --color-blue: var(--ctp-latte-blue);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--ctp-mocha-text);
        --bg-color: var(--ctp-mocha-base);
        --bg-color-sec: var(--ctp-mocha-mantle);
        --bg-color-ter: var(--ctp-mocha-crust);
        
        --color-red: var(--ctp-mocha-red);
        --color-green: var(--ctp-mocha-green);
        --color-blue: var(--ctp-mocha-blue);
    }
}