@import 'colors.css';
@import 'fonts.css';

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--header-font);
}

.center {
    margin: auto;
}

/* code block styling */

code {
    background-color: var(--bg-color-ter);
    font-family: var(--code-font);
    border-radius: 10px;
    padding: 10px;
}

code.edges {
    border-radius: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

code * {
    font-family: var(--code-font);
}

code a {
    color: var(--color-red);
    font-weight: bold;
    text-decoration: none;
}